<%-include("partials/header"); -%>

<img src="../images/StarLion.jpg" alt="lion brewery" />
    <% if(locals.name) {%>
    <h2>Hi <%= name %>
    </h2>
    <% } %>
   
    <% posts.forEach((post) => {%>
    <div>
        <hr />
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.content %>
        </p>
    </div>
    <% }); %>
<%-include("partials/footer"); -%>
